includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    parallel:
        processTimeout: 300.0

    paths:
        - app
        - database
        - tests

    level: 8

    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper[a-zA-Z0-9_]+.#'

    excludePaths:
        - tests/bootstrap.php

    checkMissingIterableValueType: false
